<!DOCTYPE html>
<html lang="ko">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDOL(ToDo LIST)</title>
    <link rel="preload" href="/image/logo.png" as="image" type="image/x-icon">
    <link rel="icon" href="/image/logo.png" type="image/x-icon" sizes="32x32">

    <!-- css -->
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/modal.css" />

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c0c3fb1839.js" crossorigin="anonymous"></script>
    <script src="/js/common.js"></script>

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/c0c3fb1839.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Moment -->
    <script src="https://cdn.jsdelivr.net/npm/moment@2.30.1/moment.min.js"></script>

    <!-- Picker -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/style.css"/>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/plugins/monthSelect/index.js"></script>
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/material_blue.css">
    <link rel="stylesheet" href="/css/flatpicker-override.css" /> -->

    </head>
<body> 
    <!-- header -->
    <% if (components !== 'login' && !components.includes('popup')) { %>
        <%- include('share/header.ejs') %>
    <% } %>

    <!-- modal -->
    <% if (!components.includes('login')) { %>
        <%- include('share/modal.ejs') %>
    <% } %>

    <!-- body -->
    <div class="container">
        <!-- login -->
        <% if (components === 'login') { %>
            <%- include('login.ejs') %>
        <% } %>   
        
        <!-- landing -->
        <% if (components === 'main') { %> <%- include('main.ejs') %> <% } %> 
        
        <!-- USER -->
        <% if (components === 'user') { %> <%- include('user.ejs') %> <% } %> 

        <!-- USER -->
        <% if (components === 'main-service/index') { %> <%- include('main-service/index.ejs') %> <% } %> 
        <!-- flight-management -->
        <!-- <% if (components.startsWith('flight-management')) { %>
            <% if (!components.includes('popup')) { %>
                <%- include('share/side-menu/flight-management.ejs') %>
            <% } %> 
            <%- include(components + '.ejs') %>
        <% } %> -->
        <% if (components !== 'login') { %>
            <div id="id" hidden><%= user.ID%></div>
            <div id="name" hidden><%= user.NAME%></div>
            <div id="social" hidden><%= user.SOCIALTYPE%></div>
            <div id="email" hidden><%= user.EMAIL%></div>
        <% } %>   
        
    </div>
</body>
</html>